@import "_color";
@import "_variables";

/* reset------------------------------------------------------------------------------------ */

*,
*::before,
*::after {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: normal;
    color: $base-gray;
    background: $base-white;
}

/* ------------------------------------------------------------------------------------------- */

.wrapper {
    min-height: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}

/* common helper classes---------------------------------------------------------------------- */

.container-common {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0px 75px;
    box-sizing: content-box;
}

/* BEM-blocks--------------------------------------------------------------------------------- */

.burger-btn {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    background-color: transparent;
    height: 30px;
    padding: 8.5px 5.5px;
    cursor: pointer;
    display: none;

    .burger-btn__band {
        display: block;
        width: 16px;
        border: solid 1.5px $base-black;
        border-radius: 3px;
    }
}

.selection {
    display: flex;
    gap: 10px;
    align-items: center;

    .selection__circle-btn {
        padding: 0;
        border: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $base-gray-background;
        cursor: pointer;

       /*  &:focus {
            background-color: #9e98dc;
        } */
    }

    .selection__circle-btn-focus {
        background-color: #9e98dc;
    }
}

/* header------------------------------------------------------------------------------------- */

.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: $base-white;

    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 116px;
    }

    .header__logo {
        font-size: 24px;
        font-weight: 700;
        color: $base-black;
    }

    .header__menu {

        padding: 5px 0;
        /* margin: 0 auto; */

        .menu__list {
            display: flex;
            column-gap: 40px;
            flex-wrap: wrap;
        }

        .menu__link {
            color: $base-gray;
            font-size: $font-size-header-menu;
            text-transform: uppercase;

            &:hover,
            &:focus {
                font-weight: 900;
                color: $base-black;
            }
        }
    }

    .header__tools {
        display: flex;
        gap: 40px;

        .header__btn {
            background: transparent;
            cursor: pointer;

            svg path{
                fill: $base-black;
            }
        }

        .header__btn_view_shop-bag {
            position: relative;

            .header__shop-bag-count {
                position: absolute;
                bottom: 0;
                right: -4px;

                color: #FFF;
                font-family: "Montserrat";
                font-size: 10px;
                font-weight: 500;
                background: #ff353a;
                padding: 0 4px;
                border-radius: 50%;

                display: none;
            }
        }
    }
}

/* main--------------------------------------------------------------------------------------- */

.page {
    flex: 1 1 auto;
    overflow: hidden;
}

.page__banner {
    margin-bottom: 105px;
}

/* banner------------------------------------------------------------------------------------- */

.banner {

    .banner__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner__image-block {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 17px;

        .banner__wrap-card {
            position: absolute;
            right: -172px;
            display: flex;
            flex-direction: column;
            row-gap: 76px;
            height: 100%;
            /* width: 100%; */

            padding: 7% 0 7% 86%;

            .banner__card-link {
                display: flex;
                flex-direction: column;
                justify-content: end;
                row-gap: 4px;
                max-width: 150px;
                height: 100%;
                /* width: 100%; */
                padding: 20px;
                color: $base-black;
                font-size: 18px;
                box-shadow: 0px 24px 36px 0px rgba(53, 49, 84, 0.28);
                text-transform: uppercase;
            }

            .banner__card-link_color_cornflower {
                background: #9e98dc;
            }

            .banner__card-link_color_pink {
                background: #ff8fe6;
                margin-left: 86px;
            }
        }
    }

    .banner__image-slide {
        max-width: 1120px;
        width: 100%;
        box-shadow: 0px 6px 59px rgba(53, 49, 84, 0.08);
    }
}

@media (max-width: 1420px) {
    .banner {

        .banner__image-block {

            .banner__wrap-card {
                right: -86px;
                row-gap: 50px;

                .banner__card-link_color_pink {
                    margin-left: 30px;
                }
            }
        }
    }
}

/* showcase----------------------------------------------------------------------------------- */

.showcase {
    
    .showcase__container {
        display: flex;
    }

    .showcase__list-categories {
        display: flex;
        flex-direction: column;
        row-gap: 23px;
        max-width: 418px;
        padding: 45px 138px 81px 158px;
        background: $base-gray-background;
        margin-left: -160px;

        .showcase__item-category {
            min-width: 140px;
            max-height: 15px;
        }
        
        .showcase__btn-category {
            background: transparent;
            font-family: "Montserrat";
            font-weight: 500;
            line-height: normal;
            font-size: $font-size-categories-books;
            color: $base-gray;
            cursor: pointer;
            position: relative;

            &:hover::before/* ,
            &:focus::before */ {
                content: "";
                position: absolute;
                top: 4.5px;
                left: -14px;
                width: 6px;
                height: 6px;
                background: #756ad3;
                border-radius: 50%;
            }

            &:hover/* ,
            &:focus */ {
                color: $base-black;
                font-size: $font-size-categories-books-hover;
                font-weight: 700;
            }
        }

        .active::before {
            content: "";
            position: absolute;
            top: 4.5px;
            left: -14px;
            width: 6px;
            height: 6px;
            background: #756ad3;
            border-radius: 50%;
        }

        .active {
            color: $base-black;
            font-size: $font-size-categories-books-hover;
            font-weight: 700;
        }
    }

    .showcase__set-books {
        margin-left: -60px;
        margin-bottom: 96px;
        padding-top: 46px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 76px;
        row-gap: 96px;

        .showcase__book {
            display: flex;
            column-gap: 36px;

            .showcase__book-cover {
                min-width: 212px;
                /* max-height: 300px; */
                background: $base-gray-books-background;
                box-shadow: 0px 24px 36px 0px rgba(53, 49, 84, 0.28);

                .showcase__book-cover-img {
                    width: 100%;
                    height: 100%;
                    /* min-width: 212px; */
                    /* max-height: 300px; */
                    object-fit: scale-down;
                }
            }

            .showcase__book-info {
                padding: 48px 0;
                max-width: 176px;
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                justify-content: space-between;

                font-family: "Open Sans";
                font-weight: 400;
                font-size: $font-size-book-info;

                .showcase__book-data {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;

                    .showcase__book-title {
                        font-weight: 700;
                        font-size: $font-size-book-title;
                        color: $base-black;
                    }

                    .showcase__book-rating {
                        display: flex;
                        column-gap: 6px;
                        flex-wrap: wrap;

                        .showcase__stars {
                            display: flex;
                            flex-wrap: nowrap;
                        }
                    }
                }

                .showcase__book-description {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    /* text-overflow: ellipsis;
                    white-space: nowrap; */
                    max-height: 41px;
                }

                .showcase__book-price {
                    font-weight: 700;
                    font-size: $font-size-book-price;
                    color: $base-black;
                    text-transform: uppercase
                }

                .showcase__buy-btn {
                    background: transparent;
                    width: 100%;
                    padding: 18px 0;
                    border: solid 1px $base-button;
                    color: $base-button;

                    font-family: "Montserrat";
                    font-weight: 700;
                    font-size: $font-size-book-buy-btn;
                    text-transform: uppercase;
                    cursor: pointer;

                    &:hover {
                        background: rgba($base-button, $alpha: 0.05)
                    }
                }

                .showcase__buy-btn-active {
                    opacity: 0.5;
                    border: solid 1px $base-gray;
                    color: $base-gray;
                }
            }
        }
    }
}

@media (max-width: 1140px) {
    .showcase {
    
        .showcase__list-categories {
            max-width: 418px;
            padding: 45px 80px 81px 158px;
        }
    }
}

@media (max-width: 1170px) {
    .showcase {

        .showcase__set-books {

            .showcase__book {

                .showcase__book-cover {
                    min-width: 160px;
                }

                .showcase__book-info {
                
                    .showcase__book-data {

                        .showcase__book-title {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

/* button-load-------------------------------------------------------------------------------- */

.button-load__container {
    display: flex;
    justify-content: center;

    .button-load__more-btn {
        margin-left: 17.5%;
        background: transparent;
        padding: 18px 61px;
        border: solid 1px $base-button;
        color: $base-button;

        font-family: "Montserrat";
        font-weight: 700;
        font-size: $font-size-book-buy-btn;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background: rgba($base-button, $alpha: 0.05)
        }
    }
}

@import "tablet";
@import "mobile";