@import "color";
@import "_variables";

@media (min-width: 768px) and (max-width: 1024px) {

/* common helper classes---------------------------------------------------------------------- */

    .container-common {
        /* max-width: 1120px;
        margin: 0 auto; */
        padding: 0px 35px;
        /* box-sizing: content-box; */
    }

/* BEM-blocks--------------------------------------------------------------------------------- */

    .selection {
        gap: 20px;
    }

/* header------------------------------------------------------------------------------------- */

    .header {

        .header__menu {
            margin: 0 20px;

            .menu__list {
                column-gap: 25px;
            }
        }

        .header__tools {
            gap: 20px;
        }
    }

/* main--------------------------------------------------------------------------------------- */

    .page__banner {
        margin-bottom: 55px;
    }

/* banner------------------------------------------------------------------------------------- */

    .banner {

        .banner__image-block {

            .banner__wrap-card {
                right: -41px;
                row-gap: 50px;

                .banner__card-link {
                    padding: 10px;
                    font-size: 16px;
                    max-width: 120px;
                }

                .banner__card-link_color_pink {
                    margin-left: 30px;
                }
            }
        }
    }

/* showcase----------------------------------------------------------------------------------- */

    .showcase {

        .showcase__list-categories {
            max-width: 418px;
            padding: 45px 60px 81px 158px;
            margin-left: -160px;
        }

        .showcase__set-books {
            margin-left: -60px;
            padding-top: 46px;
            column-gap: 30px;
            row-gap: 76px;

            .showcase__book {
                column-gap: 10px;

                .showcase__book-cover {
                    min-width: 140px;
                    /* max-height: 198px; */
                }

                .showcase__book-info {
                    padding: 5px 0;
                    row-gap: 10px;

                    .showcase__buy-btn {
                        padding: 8px 0;
                    }
                }
            }
        }
    }
}